{% load static %}
<link rel="stylesheet" href="{% static 'main.css' %}" />
<link rel="stylesheet" href="{% static 'styles.css' %}" />

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playwrite+US+Trad:wght@100..400&display=swap" rel="stylesheet" />
<link rel="stylesheet" href="main.css" />

<!DOCTYPE html>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>{{ page_title }}</title>

<!-- Site Header / Nav -->
{% include 'header.html' with page_title=page_title %}

<!-- Main Content: Recipe Page -->
<main class="background" tabindex="-1">
  <article>
    <header>
      <b><h2>{{ recipe.title }}</h2></b>
      <div class="recipe-meta">
        <div>
          <a href="{% url 'profile' recipe.author.username %}" rel="author">By {{ recipe.author.get_full_name }}</a>
        </div>
        {% if recipe.copied_from %}
          <div>
            Based on <a href="{% url 'recipe' recipe.copied_from.id %}">{{ recipe.copied_from.author.get_full_name }}'s {{ recipe.copied_from.title }}</a>
          </div>
        {% endif %}
        {% if variations_count %}
          <div>
            <a href="{% url 'search' %}?q=copied_from:{{ recipe.id }}">{{ variations_count }} variation{{ variations_count|pluralize }}</a>
          </div>
        {% endif %}
        {% if recipe.featured_on %}
          <div>Featured on {{ recipe.featured_on|date:'F Y' }}</div>
        {% endif %}
      </div>
      <div class="tags">
        {% for tag in recipe.sorted_tags %}
          <a href="/s">{{ tag.name|urlize|linebreaks }}</a>
        {% endfor %}
      </div>
    </header>

    <div class="recipe-div1">
      <figure class="recipe-photo">
        {% if recipe.photo %}
          <img src="/recipe/{{ recipe.id }}/photo" alt="Photo of {{ recipe.title }}" loading="lazy" />
        {% endif %}
      </figure>
      <figcaption class="description" itemprop="caption">{{ recipe.description|urlize|linebreaks }}.</figcaption>
    </div>

    <div>
      <ul>
        <dl class="info">
          <dt>Prep:</dt>
          <dd>{{ recipe.prep_time_minutes }} minutes</dd>
          <dt>Cook:</dt>
          <dd>{{ recipe.cook_time_minutes }} minutes</dd>
          <dt>Yield:</dt>
          <dd>{{ recipe.serves }} servings</dd>
          <dt>Total Time:</dt>
          <dd>{{ recipe.total_time }} minutes</dd>
        </dl>
      </ul>
    </div>
    <!-- Recipe content: 1/3 ingredients, 2/3 steps (stack on mobile via CSS) -->
    <div class="recipe-div2">
      <section>
        <aside class="ingredients">
          <h3>Ingredients</h3>
          <ul>
            {% for ingredient, amounts in ingr.items %}
              <li>
                {% for amount, unit in amounts %}
                  {{ amount|floatformat:'-2' }}
                  {% if unit != 'ct' %}
                    {{ unit }}
                  {% endif %}
                  {% if not forloop.last %} and {% endif %}
                {% endfor %}
                {{ ingredient }}
              </li>
            {% endfor %}
          </ul>
        </aside>
      </section>
      <section class="steps">
        <h3>Steps</h3>
        <ol>
          {% for step in recipe.steps.all|dictsort:'order' %}
            <li>
              <span>{{ step.description|linebreaks }}</span>
            </li>
          {% endfor %}
        </ol>
      </section>
    </div>
  </article>
</main>
