<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
  href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playwrite+US+Trad:wght@100..400&display=swap"
  rel="stylesheet">
<link rel="stylesheet" href="main.css">

<!doctype html>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>{{ page_title }}</title>
<link rel="stylesheet" href="/assets/styles.css" />

<!-- Site Header / Nav -->
{% include "header.html" with page_title="Search" %}


<main class="background">
  <!-- Search controls -->



  <b>
    <h2>Search recipes</h2>
  </b>
  <form>
    <input class="search-bar" name="q" value="{{ q }}" placeholder="tag:asian" />
    <button class="visually-hidden"> Search</button>

  </form>



  <!-- Results summary + count -->
  <p>
    {% if q %}
      Showing <strong>{{ recipes|length }}</strong> result(s) for "<em>{{ q }}</em>"
    {% else %}
      Showing <strong>{{ recipes|length }}</strong> recipe(s)
    {% endif %}
  </p>
  {% if recipes|length == 0 %}
    <p><em>No recipes found.</em></p>
  {% endif %}

  {% include "cards.html" %}
</main>