# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual env
venv/
.env

# Django stuff
uploads/*
db.sqlite3
/staticfiles/
/staticfiles
/media/media/

# Distribution / packaging
.Python
build/
dist/
*.egg-info/

# IDEs
.vscode/
.idea/

# Misc
*.pyc
.DS_Store
autotester
*~
/scripts/
