html {
    font-size: 18px;
    font-family: "Nunito", "Arial", sans-serif;
}

h1 {
    font-size: 180%;
    font-family: "Playwrite US Trad", "Arial", cursive;
}

h2,
h3,
h4,
h5,
h6 {
    font-size: 125%;
    font-family: "Playwrite US Trad", "Arial", cursive;
}

.login {
    font-size: 125%;
}

.description,
.steps,
.ingredients {
    line-height: 1.25;
}

.info {
    font-weight: 600;
}

b {
    font-weight: bold;
}

.index-buttons a{
    color: blue; background-color: papayawhip;
    border-width: 10px 0 10px 0;
    border-style: solid;
    border-color: #01b;
    border-radius: 10px;
    padding: .5em 1em
}