* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    display: flex;
    font-size: 18px;
    font-family: "Nunito", "Arial", sans-serif;
    color: #2E261C;
    background-color: #F7F1E8;
    max-width: 700px;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

body {
    display: flex;
    max-width: 700px;
    justify-content: center;
    flex-direction: column;
    padding: 0.5rem 0.5rem;
    width: 100%;
}

main {
    margin-top: 3rem;
    max-width: 700px;
    width: 100%;
}

h1 {
    font-size: 180%;
    font-family: "Playwrite US Trad", "Arial", cursive;
    color: #A8570C;
}

h2,
h3,
h4,
h5,
h6 {
    font-size: 125%;
    font-family: "Playwrite US Trad", "Arial", cursive;
    color: #A8570C;
}

.login {
    font-size: 125%;
}

.steps,
.ingredients {
    line-height: 1.25;
}

.description {
    line-height: 1.25;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.info {
    font-weight: 600;
}

b {
    font-weight: bold;
}

.index-buttons a {
    color: #F7F1E8;
    background-color: #8b5e34;
    border-width: 10px;
    border-radius: 10px;
    padding: .5em 1em;
}

.index-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.index-buttons a:hover {
    color: #A8570C;
    background-color: #FFF9F1;
    border-width: 10px;
    border-radius: 10px;
    padding: .5em 1em;
}

a {
    color: #8b5e34;
    text-decoration: none;
}

a:hover {
    color: #A8570C;
    text-decoration: underline;
}

.recipe-photo {
    transform: rotate(2deg);
    border-radius: 3px;
    border: 5px solid #ffffff;
    display: inline-block;
    max-width: 100%;

}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: .5rem;
    border: 5px solid #ffffff;
}

.background {
    background-color: #FFF9F1;
    display: inline-block;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid #000000;
    margin-top: 2rem;
}

ul {
    list-style: none;

}

.tags li::before {
    content: "#";
    color: #8b5e34;
}

.main-header {
    display: block;

}

.recipe {
  
}

.recipe-profile {
    background-color: #ffffff;
    display: inline-block;
    padding: .5em 1em;
    border-radius: 10px;
    margin-left: 39px;
    width: 92%;
    margin-top: -3%;
    margin-bottom: 100px;
    border-bottom: solid #000000;
    border-left: solid black;
}

.recipe-search {
    background-color: #ffffff;
    display: inline-block;
    padding: .5em 1em;
    border-radius: 10px;
    margin-left: 39px;
    width: 92%;
    margin-bottom: -3%;
    margin-top: 3%;
}

.visually-hidden {
    display: none;
}

.header-row1,
.header-row2 {
    display: flex;
    justify-content: space-between;
}

.header-row1 {
    border-bottom: 4px solid #8b5e34;
    align-items: flex-end;
}

.header-links ul {
    display: flex;
    gap: 1rem;
}

.header-search,
.header-profile {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}

.header-search {
    margin-top: .25rem;
    gap: .25rem;
}

.recipe-meta {
    display: flex;
    gap: 1.5rem;
}

.tags ul {
    display: flex;
    gap: 0.5rem;
}


.recipe{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    background-color: #ffffff;
    border-radius: 10px;
    flex: 0 0 calc(33.333% - 0.66rem);  
    max-width: 100%;
}

.ingredients ul {
    padding-left: 1rem;
    text-indent: -1rem;
}

.steps ol {
    padding-left: 1rem;
}

.info {
    display: flex;
    flex-wrap: wrap;
    row-gap: 0.25rem;
    column-gap: 0.5rem;
    width: 100%;
}

.info dt {
    flex: 0 0 calc(25% - 0.25rem);
    font-weight: bold;
}

.info dd {
    flex: 0 0 calc(75% - 0.25rem);

}