* { margin: 0; padding: 0; box-sizing: border-box; }

html {
    font-size: 18px;
    font-family: "Nunito", "Arial", sans-serif;
    color: #2E261C;
    background-color: #F7F1E8;
}

h1 {
    font-size: 180%;
    font-family: "Playwrite US Trad", "Arial", cursive;
    color: #A8570C;
}

h2,
h3,
h4,
h5,
h6 {
    font-size: 125%;
    font-family: "Playwrite US Trad", "Arial", cursive;
    color: #A8570C;
}

.login {
    font-size: 125%;
}

.description,
.steps,
.ingredients {
    line-height: 1.25;
}

.info {
    font-weight: 600;
}

b {
    font-weight: bold;
}

.index-buttons a {
    color: #F7F1E8;
    background-color: #8b5e34;
    border-width: 10px;
    border-radius: 10px;
    padding: .5em 1em;
}

.index-buttons a:hover {
    color: #A8570C;
    background-color: #FFF9F1;
    border-width: 10px;
    border-radius: 10px;
    padding: .5em 1em;
}

a {
    color: #8b5e34;
    text-decoration: none;
}

a:hover {
    color: #A8570C;
    text-decoration: underline;
}

.recipe-photo {
    transform: rotate(2deg);
    border-radius: 3px;
    border: 5px solid #ffffff;
    display: inline-block;

}

.background {
    background-color: #FFF9F1;
    display: inline-block;
    padding: .5em 1em;
    border-radius: 10px;
    border: 1px solid #000000;
    width: 29%;
}

ul {
    list-style: none;

}

.tags li::before {
    content: "#";
    color: #8b5e34;
}

.main-header {
  display: block;
  border-bottom: 4px solid #8b5e34;
  width: 30%;
}

.recipe{
    background-color: #ffffff;
    display: inline-block;
    padding: .5em 1em;
    border-radius: 10px;
    margin-left: 39px;
    width: 92%;
    margin-bottom: -3%;
    margin-top: -3%;
}

.recipe-profile{
    background-color: #ffffff;
    display: inline-block;
    padding: .5em 1em;
    border-radius: 10px;
    margin-left: 39px;
    width: 92%;
    margin-top: -3%;
    margin-bottom: 100px;
    border-bottom: solid #000000;
    border-left: solid black;
}

.recipe-search{
    background-color: #ffffff;
    display: inline-block;
    padding: .5em 1em;
    border-radius: 10px;
    margin-left: 39px;
    width: 92%;
    margin-bottom: -3%;
    margin-top: 3%;
}

.visually-hidden{
    display: none;
}